* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
}

html .gm-style-mtc,
body .gm-style-mtc {
  display: none;
  visibility: hidden;
}

body {
  background-color: #f1f1f1;
  overflow-y: scroll;
  padding-bottom: 60px;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide {
  display: none;
  visibility: hidden;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  margin: 2em auto;
  max-width: 700px;
  padding: 2em;
  position: relative;
  -webkit-transition: -webkit-box-shadow .1s linear;
  transition: -webkit-box-shadow .1s linear;
  transition: box-shadow .1s linear;
  transition: box-shadow .1s linear, -webkit-box-shadow .1s linear;
  width: 90%;
  will-change: box-shadow;
  z-index: 100;
}

.card:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

.card:empty {
  display: none;
}

.card__title {
  font-size: 22px;
  line-height: 18px;
  margin: 0 0 1em 0;
  padding: 0;
  text-transform: uppercase;
}

.cep-consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cep-consult__cep-input, .cep-consult__cta {
  padding: .7em 1em;
}

.cep-consult__cep-input {
  border: 1px solid #ccc;
  width: 100%;
}

.cep-consult__cep-input:hover {
  border-color: #9c9c9c;
}

.cep-consult__cta {
  margin-left: .5em;
}

.cep-consult__error {
  color: #fd3f3f;
  font-size: 14px;
  margin-top: 1em;
}

.cep-consult__error:empty {
  display: none;
}

.map {
  background-color: #ccc;
  border: 1px solid #ccc;
  height: 400px;
  margin-top: 2em;
}

.map-close {
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  font-size: 0;
}

.map-close:before {
  content: 'x';
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.address {
  font-size: 16px;
}

.address__title {
  display: block;
  margin: 0;
  font-size: 20px;
}

.address__text {
  margin: .5em 0;
}

.footer {
  background-color: #fff;
  bottom: 0;
  -webkit-box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Arial';
  font-size: 12px;
  left: 0;
  padding: 1.25em 5%;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer__link {
  color: #f7630c;
  display: inline-block;
  padding: 0 5px;
}

.heart {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */