// Card
.card {
	background-color: #fff;
	box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .150);
	margin: 2em auto;
	max-width: 500px;
	padding: 2em;
	position: relative;
	transition: box-shadow .1s linear;
	width: 90%;
	will-change: box-shadow;
	z-index: 100;

	&:hover { box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .260); }

	&:empty { display: none; }

	// Title
	&__title {
		font-size: 22px;
		line-height: 18px;
		margin: 0 0 1em 0;
		padding: 0;
		text-transform: uppercase;
	}
}